In [51]:
#mini project on Hepatits datasets
#importing data from UCI machine learning

In [18]:
import pandas as pd
import numpy as np                            
from matplotlib import pyplot as plt 


df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/hepatitis/hepatitis.data")
#reading csv file from uci

In [19]:
col_name=['CLASS','AGE','SEX','STEROID','ANTIVIRAL','FATIGUE','MALAISE','ANOREXIA','LIVER BIG','LIVER FIRM','SPLEEN PALPABLE','SPIDERS','ASCITES','VARICES','BILIRUBIN','ALKPHOSPHATE','SGOT','ALBUMIN','PROTIME','HISTOLOGY']

In [20]:
#setting columns name for data

In [21]:
df.columns =col_name        
  # or #df.set_axis(col_name, axis=1, inplace=True)

In [22]:
df.head()                                                                     # to view are datasets

,CLASS,AGE,SEX,STEROID,ANTIVIRAL,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALKPHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
1,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
2,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1

In [23]:
#building Feature set
print("No of featurs:",df.shape[1])

No of featurs: 20

In [24]:
print("shape of data",df.shape)

shape of data (154, 20)

In [25]:
print("no of unique class in dataste:",df['CLASS'].nunique())

no of unique class in dataste: 2

In [26]:
#Handling missing values in dataset

In [27]:
rr={'?':np.nan}      # in dataset we have  ?(not recoginze by machine) we replace with NAN value

df.replace(rr,inplace=True)

print("values ? convetrted into NAN")
df.head()

values ? convetrted into NAN

,CLASS,AGE,SEX,STEROID,ANTIVIRAL,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALKPHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,NaN,1
1,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,NaN,1
2,2,31,1,NaN,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,NaN,200,4.0,NaN,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1

In [28]:
col_mask=df.isnull().any(axis=0)
print(col_mask)                                  # to ckeck how many column have missing value(NAN)

CLASS              False
AGE                False
SEX                False
STEROID             True
ANTIVIRAL          False
FATIGUE             True
MALAISE             True
ANOREXIA            True
LIVER BIG           True
LIVER FIRM          True
SPLEEN PALPABLE     True
SPIDERS             True
ASCITES             True
VARICES             True
BILIRUBIN           True
ALKPHOSPHATE        True
SGOT                True
ALBUMIN             True
PROTIME             True
HISTOLOGY          False
dtype: bool

In [29]:
#to ckeck datatype of columns
df.dtypes

# some column are object type we need to convert it into numeric because machine learning model work with numeric values only

CLASS               int64
AGE                 int64
SEX                 int64
STEROID            object
ANTIVIRAL           int64
FATIGUE            object
MALAISE            object
ANOREXIA           object
LIVER BIG          object
LIVER FIRM         object
SPLEEN PALPABLE    object
SPIDERS            object
ASCITES            object
VARICES            object
BILIRUBIN          object
ALKPHOSPHATE       object
SGOT               object
ALBUMIN            object
PROTIME            object
HISTOLOGY           int64
dtype: object

In [30]:
df=df.astype(float)
print("Object are changed into numeric")
print(df.dtypes)


                                            # print(df.median()) it will print median value for each comlumn

# filing missing values  with median

df.fillna(df.median(), inplace=True)         
df.head(20)

Object are changed into numeric
CLASS              float64
AGE                float64
SEX                float64
STEROID            float64
ANTIVIRAL          float64
FATIGUE            float64
MALAISE            float64
ANOREXIA           float64
LIVER BIG          float64
LIVER FIRM         float64
SPLEEN PALPABLE    float64
SPIDERS            float64
ASCITES            float64
VARICES            float64
BILIRUBIN          float64
ALKPHOSPHATE       float64
SGOT               float64
ALBUMIN            float64
PROTIME            float64
HISTOLOGY          float64
dtype: object

,CLASS,AGE,SEX,STEROID,ANTIVIRAL,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALKPHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2.0,50.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,0.9,135.0,42.0,3.5,61.0,1.0
1,2.0,78.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,96.0,32.0,4.0,61.0,1.0
2,2.0,31.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,46.0,52.0,4.0,80.0,1.0
3,2.0,34.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,85.0,200.0,4.0,61.0,1.0
4,2.0,34.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.9,95.0,28.0,4.0,75.0,1.0
5,1.0,51.0,1.0,1.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,2.0,1.0,85.0,58.0,4.0,61.0,1.0
6,2.0,23.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,85.0,58.0,4.0,61.0,1.0
7,2.0,39.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.7,85.0,48.0,4.4,61.0,1.0
8,2.0,30.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,85.0,120.0,3.9,61.0,1.0
9,2.0,39.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,1.3,78.0,30.0,4.4,85.0,1.0
10,2.0,32.0,1.0,2.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,59.0,249.0,3.7,54.0,1.0
11,2.0,41.0,1.0,2.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.9,81.0,60.0,3.9,52.0,1.0
12,2.0,30.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.2,57.0,144.0,4.9,78.0,1.0
13,2.0,47.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,85.0,60.0,4.0,61.0,1.0
14,2.0,38.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,72.0,89.0,2.9,46.0,1.0
15,2.0,66.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.2,102.0,53.0,4.3,61.0,1.0
16,2.0,40.0,1.0,1.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.6,62.0,166.0,4.0,63.0,1.0
17,2.0,38.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,53.0,42.0,4.1,85.0,2.0
18,2.0,38.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,0.7,70.0,28.0,4.2,62.0,1.0
19,2.0,22.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.9,48.0,20.0,4.2,64.0,1.0

In [31]:
#seprating target and input variable from dataframe

y=df['CLASS']   #target variable 

x=df.drop('CLASS',axis=1)  #input varuable or training data 

#input data without target variable thats why i drop first columns of dataset and assign to x

print("shape of y:",y.shape)
print("shape of x:",x.shape)

shape of y: (154,)
shape of x: (154, 19)

In [32]:
# spliting training and testing data with help of scikit learn

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)
print("Original data x:",x.shape)
print("After spliting x_traing shape:",np.shape(x_train))
print("After spliting x_test size:",np.shape(x_test))

Original data x: (154, 19)
After spliting x_traing shape: (107, 19)
After spliting x_test size: (47, 19)

In [35]:
#Evaluate the accuracy of random forest  with number of estimator n=3

from sklearn.ensemble import RandomForestClassifier
tree=RandomForestClassifier(criterion='gini',max_depth=2,n_estimators=3,random_state=0)

                                                     
tree.fit(x_train,y_train)                                                                                 # put data orignal scale
y_pred=tree.predict(x_test)

from sklearn.metrics import accuracy_score

print('misclassified samples: %d'%(y_test!=y_pred).sum())
print("accuracy:%f"%accuracy_score(y_test,y_pred))

misclassified samples: 6
accuracy:0.872340

In [36]:
# to find best parameter we need to do hyperparameter tunning

In [37]:
from sklearn.model_selection import GridSearchCV

#setup the parametrs and distribution to sample 
param_dist={'n_estimators':[5,10,15,20,],'max_features':['auto','sqrt'],'max_depth':[3,None],'min_samples_leaf':np.arange(1,10),"criterion": ["gini", "entropy"],'bootstrap':[True,False]}
rfc=RandomForestClassifier()
cv=GridSearchCV(rfc,param_dist,cv=5)
cv.fit(x_train,y_train)
y_p=cv.predict(x_test)

print("tuned parametrs:{}".format(cv.best_params_))
print("best Score is: {}".format(cv.best_score_))

tuned parametrs:{'bootstrap': False, 'criterion': 'gini', 'max_depth': 3, 'max_features': 'auto', 'min_samples_leaf': 4, 'n_estimators': 10}
best Score is: 0.9065420560747663

In [ ]:
                                              #End code